body {
    font-family: Roboto, sans-serif
}

header, footer {
    background: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.header img {
    width: 50px;
    height: 50px;
}

.media {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    padding: 90px;
    margin-bottom: 32px;
}

.media h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.media p {
    font-size: 24px;
    color: #e5e7eb;
}

.image {
    margin-left: 50px;
}

button {
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.image img {
    width: 500px;
    height: 350px;
}

.information {
    text-align: center;
}

.info img {
    width: 250px;
    height: 300px;
    border: #3882f6 solid 5px;
    border-radius: 25px;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 32px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 104px;
    margin-bottom: 50px;
}

.info {
    max-width: 200px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.quote.text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}
